---
export interface Props {
		key: number,
        title: string,
        body: string,
		img: ImageMetadata,
        href: string,
		alt: string,
}

import { Image } from "astro:assets";

const { href, title, body, img, alt } = Astro.props;
---

<li class="link-card">
	<a class="pLink" href={href} target="_blank" rel="noreferrer noopener nofollow">
		<Image class="image" src={img} alt={alt}/>
		<section>
			<h2 class="title">
				{title}
			</h2>
			<p class="text">
				{body}
			</p>
		</section>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--bgBlack);
		border-radius: 1rem;
		background-position: 100%;
        border: 2px solid var(--yellow); 
	}

	.link-card > .pLink{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 1rem;
		color: var(--yellow);
		background-color: var(--bgBlack);
	}
	.image{
		width:100%;
		height: auto;
		border-radius: 1rem;
	}
	.title {
		font-size: 2.2rem;
		font-weight: bold;
		padding: 0.5rem 0;
		color: var(--white);
	}
	.text{
		padding: 0 0 1rem 0;
		color: var(--white);
		font-size: 1.5rem;
	}

	.link-card:is(:hover, :focus-within){
		background-color: var(--bgWhite);
		transition: 0.3s;
	}
	.link-card:is(:hover, :focus-within) .title,
	.link-card:is(:hover, :focus-within) .text {
		border-radius: 1rem;
        color: var(--yellow);
        transition: 0.3s;
	}
</style>
