---
import cardData from "../data/cardData";
import Card from "./Card.astro";
import unum from "../assets/unumHealth.png";
import manuela from "../assets/manuela.png"
import teapothecary from "../assets/teapothecary.png"
import Button from "../components/Button.astro"

let imgArr = [teapothecary, manuela, unum];
let data = cardData

interface Props {
        page?: 'Home' | 'Projects',
    }

    const { page } = Astro.props as Props

    if (page === 'Home'){
        imgArr = imgArr.slice(0,3);
        data = cardData.slice(0,3)
        }
---

<section class="mainContainer" id="projects">
    <div class="contentContainer maxWidth">
        <h2 class="projects">Projects</h2>
        <div class="success">
            <p>Clients who have chosen to work with Sinno Technologies to build their websites experience an increase in online visibility and higher search engine results, leading to increased sales, business growth, and success.</p>
            <p>View the work we've delivered to some of our happy clients below!</p>
        </div>
        <div class="cardContainer">
            {data.map((card, index) => (
                <Card
                key={index}
                title={card.title}
                body={card.body}
                img={imgArr[index]}
                href={card.href}
                alt={card.alt}
                target={card.target}
                rel={card.rel}
                />
            ))}
        </div>
        <Button 
            backgroundColor="var(--black)"
            color="var(--white)"
            href="/projects"
            text="View More Of Our work"
            />
    </div>
</section>

<style>
    .mainContainer{
        width:100%;
        height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        background-color: var(--sectYellow);
        padding: 1rem;
        gap: 3rem;
    }

    .contentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .projects{
        width: 100%;
        height: auto;
        text-align: center;
        color: black;
    }

    .cardContainer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 1rem;
    }

    .buttonProjects{
        padding: 1rem;
        color: var(--white);
        background-color: var(--black);
        border-radius: 0.5em;
        text-align: center;
    }

    .success{
        max-width: 1000px;
        border: 1px solid var(--black);
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 4px 4px 4px var(--black);
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        text-align: center;
    }

    .buttonProjects:is(:hover, :focus-within) {
		background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--black);
		transition: 0.3s;
    }

    @media screen and (max-width: 992px) {
        .cardContainer{
            grid-template-columns: 1fr;
        }
    }
</style>
