---
import cardData from "../data/cardData";
import Card from "./Card.astro";
import parkland from "../assets/ParklandPM.png";
import unum from "../assets/unumHealth.png";
import login from "../assets/Login.png";
import ramp from "../assets/rampatl.png";

const imgArr = [parkland, unum, login, ramp];
---

<section class="mainContainer" id="projects">
    <h3 class="projects">Projects</h3>
    <div class="line"></div>
    <ul class="cardContainer">
        {cardData.map((card, index) => (
            <Card
              key={index}
              title={card.title}
              body={card.body}
              img={imgArr[index]}
              href={card.href}
              alt={card.alt}
            />
          ))}
    </ul>
    <a href="https://github.com/jamilsinno?tab=repositories" target="_blank" rel="noreferrer noopener nofollow" class="buttonProjects">View more of my projects on GitHub</a>
</section>

<style>
    .mainContainer{
        width:100%;
        height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        padding: 2rem 1rem;
        gap: 3rem;
    }
    
    .projects{
        font-size: 3.5rem;
        font-weight: bold;
    }

    .cardContainer{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .buttonProjects{
        padding: 1rem;
        font-size: 1.8rem;
        border: 2px solid var(--yellow); 
        border-radius: 1em;
    }

    .buttonProjects:is(:hover, :focus-within) {
        background-color: var(--yellow);
        color: var(--black);
        border: 2px solid var(--white);
        transition: 0.3s;
    }
    @media (max-width: 1080px) {
        .cardContainer{
            grid-template-columns: 1fr;
        }
    }
</style>
