---
import cardData from "../data/cardData";
import Card from "./Card.astro";
import parkland from "../assets/ParklandPM.png";
import unum from "../assets/unumHealth.png";
import ramp from "../assets/rampatl.png";
import manuela from "../assets/manuela.png"
import teapothecary from "../assets/teapothecary.png"
import foodelity from "../assets/foodelity.png"

let imgArr = [teapothecary, foodelity, manuela,parkland, unum, ramp];
let data = cardData

interface Props {
        page?: 'Home' | 'Projects',
    }

    const { page } = Astro.props as Props

    if (page === 'Home'){
        imgArr = imgArr.slice(0,3);
        data = cardData.slice(0,3)
        }
---

<section class="mainContainer" id="projects">
    <div class="contentContainer maxWidth">
        <h2 class="projects">Projects</h2>
        <div class="cardContainer">
            {data.map((card, index) => (
                <Card
                key={index}
                title={card.title}
                body={card.body}
                img={imgArr[index]}
                href={card.href}
                alt={card.alt}
                target={card.target}
                rel={card.rel}
                />
            ))}
        </div>
        <a href="/projects" class="buttonProjects">View More Of Our Work</a>
    </div>
</section>

<style>
    .mainContainer{
        width:100%;
        height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        background-color: var(--sectWhite);
        padding: 1rem;
        gap: 3rem;
    }

    .contentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .projects{
        width: 100%;
        height: auto;
        text-align: center;
        color: black;
    }

    .cardContainer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 1rem;
    }

    .buttonProjects{
        padding: 1rem;
        color: var(--white);
        background-color: var(--black);
        border-radius: 0.5em;
        text-align: center;
    }

    .buttonProjects:is(:hover, :focus-within) {
		background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--black);
		transition: 0.3s;
    }

    @media screen and (max-width: 992px) {
        .cardContainer{
            grid-template-columns: 1fr;
        }
    }
</style>
