---
import cardData from "../data/cardData";
import Card from "./Card.astro";
import parkland from "../assets/ParklandPM.png";
import unum from "../assets/unumHealth.png";
import ramp from "../assets/rampatl.png";

const imgArr = [parkland, unum, ramp];
---

<section class="mainContainer" id="projects">
    <div class="contentContainer maxWidth">
        <h3 class="projects">Projects</h3>
        <div class="cardContainer">
            {cardData.map((card, index) => (
                <Card
                key={index}
                title={card.title}
                body={card.body}
                img={imgArr[index]}
                href={card.href}
                alt={card.alt}
                target={card.target}
                rel={card.rel}
                />
            ))}
        </div>
        <a href="https://github.com/jamilsinno?tab=repositories" target="_blank" rel="noreferrer noopener nofollow" class="buttonProjects">View more projects on GitHub</a>
    </div>
</section>

<style>
    .mainContainer{
        width:100%;
        height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
        background-color: var(--sectWhite);
        padding: 1rem;
        gap: 3rem;
    }

    .contentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .projects{
        width: 100%;
        height: auto;
        text-align: center;
        color: black;
    }

    .cardContainer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 1rem;
    }

    .buttonProjects{
        padding: 1rem;
        color: var(--white);
        background-color: var(--black);
        border-radius: 0.5em;
        text-align: center;
    }

    .buttonProjects:is(:hover, :focus-within) {
		background-color: var(--white);
        color: var(--black);
        border: 2px solid var(--black);
		transition: 0.3s;
    }

    @media screen and (max-width: 992px) {
        .cardContainer{
            grid-template-columns: 1fr;
        }
    }
</style>
