---
import { Image } from "astro:assets";
import Jamil from "../assets/jamil.jpeg";
import LinkedIn from "../assets/icons/linkedin.svg"
import GitHub from "../assets/icons/github.svg"
import Email from "../assets/icons/email.svg"
import Resume from "../assets/icons/resume.svg"
import Consultation from "./Consultation.astro";
import Button from "./Button.astro";
---

<section class="teamContainer" id="team">
    <h2 class="title">Meet Our Founder</h2>
    <div class="contentContainer maxWidth">
        <div class="textContainer">
            <div class="teamCard">
                <div class="imageContainer">
                    <Image class="image" src={Jamil} alt="Photo of Jamil Sinno"/>
                </div>
                <div class="teamTextContainer">
                    <h3 class="name">Jamil Sinno</h3>
                    <span class="role">Principal Consultant</span>
                    <span class="role">DHS Trusted Tester</span>
                    <span class="location">Halifax, NS</span>
                </div>
            </div>
            <p class="text">
                Sinno Technologies Limited is dedicated to promoting inclusivity and accessibility. Founded in 2023, we are a professional software development and accessibility consulting firm. Today, Jamil works with clients to create inclusive digital experiences that drive engagement, generate leads, and improve user experience.
            </p>
            <div class="linkContainer">
                <h3 class="linkTitle">Connect with me:</h3>
                <div class="links">
                    <a href="https://www.linkedin.com/in/jamilsinno/" class="link" rel="noreferrer noopener nofollow" target="_blank"><Image class="icon" src={LinkedIn} alt="LinkedIn Icon"/>LinkedIn</a>
                    <a href="https://github.com/jamilsinno" class="link" rel="noreferrer noopener nofollow" target="_blank"><Image class="icon" src={GitHub} alt="GitHub Icon"/>GitHub</a>
                    <a href="mailto:jamil@sinno.ca" class="link" rel="noreferrer noopener nofollow" target="_blank"><Image class="icon" src={Email} alt="Email Icon"/>Email</a>
                    <a href="/resume.pdf" class="link" rel="noreferrer noopener nofollow" target="_blank"><Image class="icon" src={Resume} alt="Resume Icon"/>Resume</a>
                </div>
            </div>
        </div>
    </div>
        <Button backgroundColor="var(--black)" color="var(--white)" href="/team" text="Meet Our Team"
</section>

<style>
    .teamContainer {
        width: 100%;
        height: auto;
        background-color: var(--sectYellow);
        color: var(--black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .teamCard{
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .teamTextContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contentContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .textContainer{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .text{
        text-align: center;
    }

    .image {
        width: 100%;
        height: auto;
        border-radius: 10%;
        max-width: 250px;
        max-height: 250px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.9);
    }

    .role{
        font-weight: bold;
    }
    
    .links{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .link{
        color: var(--black);
        text-decoration: underline;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    .link:focus{
        
        outline: 2px dotted var(--black);
    }
    
    .linkTitle{
        font-weight: bold;
        text-align: center;
    }

    .icon{
        max-width: 30px;
        max-height: 30px;
    }

    .location{
        font-style: italic;
    }

    @media screen and (max-width: 768px) {
        .teamContainer {
            flex-direction: column;
        }

        .contentContainer{
            flex-direction: column-reverse;
        }

        .textContainer,
        .imageContainer{
    align-items: center;
            max-width: 100%;
        }

        .links{
            grid-template-columns: repeat(1, 1fr);
        }

        .link{
            justify-content: center;
            align-self: center;
        }
    }
</style>
